---
testbed:
    name: Techit-Sweden
    alias: Techit-Sweden
    credentials:
        default:
            username: '%ASK{Enter User Name}'
            password: '%ASK{Enter User Password}'
    custom:
        owner: Abdulilah Baltah
        contacts: Abdulilah,baltah@vattenfall.com

devices:
{% for i in inventory %}
    {{ i.dev_name }}:
        alias: {{ i.dev_alias }}
        os: {{ i.dev_os }}
        type: switch
        connections:
            cli:
                ip: {{ i.dev_ip }}
                protocol: ssh
                ssh_options: -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
                arguments:
                    learn_hostname: True
        custom:
            net_location: {{ i.dev_net_location }}
            net_type: {{ i.dev_net_type }}
            netmiko_driver: {{ i.dev_netmiko_type }}
{% endfor %}
